<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @date_entered.date %>
</p>

<%= link_to 'Edit', edit_date_entered_path(@date_entered) %> |
<%= link_to 'Back', date_entereds_path %>
