@import 'antd/dist/antd.compact.less';

.ant-input-borderless {
    padding: 0em !important;
}

.ant-select-selector {
    padding: 0em !important;
}

.ant-select-selection-search {
    left: 0em !important;
    right: 0em !important;
}

.ant-table-cell {
    padding: 0em !important;
}

.ant-picker {
    padding: 0em !important;
}

@font-size-base: 20px;
