<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @reconcile_date.date %>
</p>

<%= link_to 'Edit', edit_reconcile_date_path(@reconcile_date) %> |
<%= link_to 'Back', reconcile_dates_path %>
